.photo {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 100px white;
  }

h1 {
  font-size: 4em !important;
  font-weight: bold !important;
  text-shadow: -7px 12px 6px grey;
}

.intro {
  font-size: 200%;
  padding: 0 20%;
}

.grey-bg {
  background: lightgrey;
  margin: 50px;
  padding: 20px 20px 0px 20px;
  width: 70%;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 100px
}

.p1 {
  font-size: 2em;
}

p.pic {
  font-size: 0.9em !important;
  padding-top: 8px;
}

.img-responsive {
  padding: 3px;
  border-radius: 10px;
}

.wiki {
  font-size: 0.9em;
}

ul {
  list-style-type:none;
}

li {
  font-size: 1.3em;
  text-align: left;
  padding: 5px;
  color: black;
}
